/* Navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    position: relative;
    z-index: 20; /* Ensure navbar is above hero */
}

/* Navbar brand styling */
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Navbar links styling */
.navbar-links {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.navbar-links li a {
    color: #fff;
    text-decoration: none;
}

.navbar-links li a:hover {
    text-decoration: underline;
}

/* Hamburger button styling */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.logo {
    height: 50px; /* Adjust height as needed */
    width: auto;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}

/* Transform bars to make 'X' shape when open */
.bar.open:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
.bar.open:nth-child(2) {
    opacity: 0;
}
.bar.open:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Responsive styling */
@media (max-width: 768px) {
    .navbar-links {
        display: none;
        position: absolute;
        top: 100%; /* Position links right below navbar */
        right: 0;
        background-color: #333;
        flex-direction: column;
        width: 80%; /* Reduce width to 80% of the screen */
        max-width: 250px; /* Optional: Set a max width */
        padding: 1rem;
        z-index: 30; /* Higher z-index to make sure links display over content */
    }

    /* Display links when menu is open */
    .navbar-links.open {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}

/* Hero Section Styles */
.hero {
    position: relative;
    width: 100%;
    height: 900px;
    overflow: hidden;
    z-index: 10; /* Make sure hero is below navbar */
}